.header {
	
	color: #ff0000;
	text-align: center;
	padding: 70px;
	font-size: 35px;
	
	font-family: "Comic Sans MS", cursive, sans-serif;
}	
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  font-style: oblique;
  opacity: 0.7;
 
}
.sidenav a {
  color: white;
  padding: 50px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
	background-color: #dddddd;
	color: 000000;
	}
	
body {
background-color: #FFFFFF;
text-align: center;
font-size: 20px;
background-image: url("lol.jpg");
background-size: cover;
font-family: "Comic Sans MS", cursive, sans-serif;
color: #FFFFFF;
}
div.polaroid {
	margin-bottom: 5px;
	background-color: white;
	margin-right: 1px;
	margin-left: 1px;
	float: center;	
	align-items: center;
	left: 250px;
	position: absolute;
  margin: auto;
  width: 34%;
  color: black;
  padding: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
div.container {
	margin-bottom: 5px;
	background-color: white;
	margin-right: 1px;
	margin-left: 1px;
	float: center;	
	align-items: center;
	right: 250px;
	position: absolute;
  margin: auto;
  width: 30%;
  color: black;
  padding: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
